<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="sea_green">
        <color rgba="0.1796875 0.54296875 0.33984375 1.0" />
    </material>

    <material name="dark_sea_green">
        <color rgba="0.55859375 0.734375 0.55859375 1.0" />
    </material>

    <material name="sky_blue">
        <color rgba="0.52734375 0.8046875 0.91796875 1.0" />
    </material>

    <material name="chocolate">
        <color rgba="0.8203125 0.41015625 0.1171875 1.0" />
    </material>

    <material name="coral">
        <color rgba="0.99609375 0.49609375 0.3125 1.0" />
    </material>

    <material name="giga_green">
        <color rgba="0.0 0.5625 0.0 1.0" />
    </material>

    <material name="giga_grey">
        <color rgba="0.5625 0.5625 0.5625 1.0" />
    </material>

    <material name="dark_giga_grey">
        <color rgba="0.05859375 0.05859375 0.05859375 1.0" />
    </material>

</robot>